.form-container {
    display: flex;
    justify-content: center;
    align-items: normal;
    height: 100vh;
}

.form-box {
    padding: 20px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: brown;
}

.form-box label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-box button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: brown;
    border: 1px solid brown;
    border-radius: 5px;
}

.form-box button:hover {
    background-color: white !important;
    color: brown;
    border-color: brown !important;
    outline: none;
}