.custom-button {
    border: 1px solid brown;
    outline: none;
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: brown;
    border-radius: 5px;
}

.custom-button:hover, .custom-button:active {
    background-color: rgba(34,37,41) !important;
    color: white;
    border-color: brown !important;
    outline: none;
}
