.profile {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.applications {
    margin-top: 20px;
}

.application {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.application p {
    margin: 5px 0;
}

.application button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: brown;
    border: 1px solid brown;
    border-radius: 5px;
}

.application button:hover {
    background-color: white !important;
    color: brown;
    border-color: brown !important;
    outline: none;
}

.application button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

.room-link {
    color: brown;
    text-decoration: none;
    font-weight: bold;
}

.room-link:hover {
    text-decoration: underline;
}
